<%- include('partials/header'); -%>

<main>
    <div class="row">
        <div class="col-md-6 image-container">
            <img src="public/images/image-product-desktop.jpg" id="productImgDesktop" alt="image-product-desktop" />
            <img src="public/images/image-product-mobile.jpg" id="productImgMobile" alt="image-product-mobile" />
        </div>
        <div class="col-md-6 text-container">
            <div class="card">
                <div class="card-body">
                    <p class="card-text">PERFUME</p>
                    <h1 class="card-title">Gabrielle Essence Eau De Parfum</h1>
                    <p class="card-text"> A floral, solar and voluptuous interpretation composed by Olivier Polge,
                    Perfumer-Creator for the House of CHANEL.</p>
                </div>
                <div class="card-body">
                    <div class="row price-div">
                        <div class="col-sm-6 bold-sum">
                            <p>$149.99</p>
                        </div>
                        <div class="col-sm-6 stroke-sum">
                            <p>$169.99</p>
                        </div>
                    </div>
                </div>
                <div class="card-body button-div">
                    <button type="button" class="btn btn-primary btn-lg btn-block">Add to Cart</button>
                </div>
            </div>
        </div>
    </div>
    
    
    
    
    
    
    
    
    
    
</main>

<%- include('partials/footer'); -%>